* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  border: 1px solid red;
}

.grid-box {
  border: 1px solid blue;
  background-color: yellow;
  flex: 1 0 0;
  aspect-ratio: 1 / 1;
}

body {
  width: 100%;
}

